bm_opencv/modules/python/src2/typing_stubs_generation/nodes/__pycache__/
**/*.d
**/*.o

**/*.pc
**/*.version

install/**/*

bm_opencv/**/*.pyc

bm_ffmpeg/**/*_list.c
bm_ffmpeg/**/*.ver
bm_ffmpeg/**/*.so*

bm_ffmpeg/ffbuild/.config
bm_ffmpeg/ffbuild/config.*
bm_ffmpeg/libavutil/avconfig.h
bm_ffmpeg/libavutil/ffversion.h

bm_ffmpeg/.version
bm_ffmpeg/config.h

bm_ffmpeg/ffmpeg
bm_ffmpeg/ffmpeg_g
bm_ffmpeg/ffprobe
bm_ffmpeg/ffprobe_g

bm_ffmpeg/doc/**
*.yuv
*.jpg
*.jpeg
*.265
*.h265
*.264
*.h264
stream/
